[defaults]
inventory = ./inventory/hosts.yml
roles_path = ./roles
collections_path = ./collections
host_key_checking = False
retry_files_enabled = False
stdout_callback = ansible.builtin.default
result_format = yaml
bin_ansible_callbacks = True
vault_password_file = .vault_pass

[galaxy]
server_list = automation_hub, validated, galaxy

[galaxy_server.automation_hub]
url=https://console.redhat.com/api/automation-hub/content/published/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3ODE3MzM3MjMsImp0aSI6IjYxNTNkY2IzLWUzZWEtNDU4OS04ZGRhLWQ2NDBkNWM4ZmI4NiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1MzgyMzQzNSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiOWQ1NGVlODYtMGExMS00MTE4LTg0ZjgtYzg2NTI1ZWJkM2Q0Iiwic2lkIjoiOGZiMDNiMGEtMjZhZS00YzljLWE0NzQtZThmZmUxNWQwYWU2Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.bY37VNThsGyVv7wd6rYkQDYt2rlxFF0ECgfyCP5v5KaI2WlmIKJFHzgy7WQeVKG1lHzl_Bbhe4-7G9FQgvfjbA

[galaxy_server.validated]
url=https://console.redhat.com/api/automation-hub/content/validated/
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token=eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3ODE3MzM3MjMsImp0aSI6IjYxNTNkY2IzLWUzZWEtNDU4OS04ZGRhLWQ2NDBkNWM4ZmI4NiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiI1MzgyMzQzNSIsInR5cCI6Ik9mZmxpbmUiLCJhenAiOiJjbG91ZC1zZXJ2aWNlcyIsIm5vbmNlIjoiOWQ1NGVlODYtMGExMS00MTE4LTg0ZjgtYzg2NTI1ZWJkM2Q0Iiwic2lkIjoiOGZiMDNiMGEtMjZhZS00YzljLWE0NzQtZThmZmUxNWQwYWU2Iiwic2NvcGUiOiJvcGVuaWQgYXBpLmNvbnNvbGUgYmFzaWMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgYXBpLmFza19yZWRfaGF0IG9mZmxpbmVfYWNjZXNzIn0.bY37VNThsGyVv7wd6rYkQDYt2rlxFF0ECgfyCP5v5KaI2WlmIKJFHzgy7WQeVKG1lHzl_Bbhe4-7G9FQgvfjbA

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
